body{
    background: #f4f7f8 !important;
}
.navbar-brand{
    width: 150px;
}
.logo{height: 60px !important;max-height: 60px !important;padding-top: 13px;}
.vs-navbar-content{
    height: 70px;
    border-radius: 0;
}
.content-1{
    margin-top: 50px;
}
.cover-image{
    height: 500px;
}